# Community test results - MSI Z690-A WIFI DDR4

## About

The following document contains information about additional tests which were
carried out on the MSI Z690-A WIFI DDR4 platform with Dasharo firmware by
community members.

The following list is created based on the information from the
community - people which are currently using the platform with Dasharo
firmware.

This document contains three main sections:
- `Testing method` in which we are describing our preferred testing method.
- `Hardware Compatible List` in which in a labelled manner we show all
    tests carried out by the community.
- `Support us` - in which we describe the method of how it is possible to
    contribute to the development of this list.

## Testing method

## Community test results

| No.  | Description                                       | Link to description | Notes               |
|:-----|:--------------------------------------------------|:-------------------:|:-------------------:|
| 1.   |                                                   |                     |                     |

## Support Us

Hardware compatible with Dasharo firmware you might report by:
- using `Dasharo Issues project`, which is available under this
    [link](https://github.com/Dasharo/dasharo-issues/issues).
