# Community Test Results

We moved the page to [MSI Desktops -> Community Test Results](../../unified/msi/community-test-results.md)
