---
default_stages: [pre-commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-c=.yamllint]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.36.0
    hooks:
      - id: markdownlint
      - id: markdownlint-fix

  - repo: https://github.com/talos-systems/conform
    rev: v0.1.0-alpha.27
    hooks:
      - id: conform
        stages:
          - commit-msg

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: '^.*.(webp|jpeg|jpg|png|pdf|svg)$'

  - repo: https://github.com/3mdeb/hooks
    rev: v0.1.5
    hooks:
      - id: sort-mkdocs
        files: "mkdocs.yml"

  - repo: local
    hooks:
      - id: double_slashes_url_external
        name: Check double slashes in external URLs
        entry: https?:\/\/[^\s]*(?<!http:)((?<!https:)\/\/).*
        language: pygrep
        exclude: '^.*.(webp|jpeg|jpg|png|pdf|svg)$'
      - id: double_slashes_url_markdown
        name: Check double slashes in markdown URLs
        entry: (\:\s|\()[^\s]*(?<!http:)((?<!https:)\/\/)
        language: pygrep
        exclude: '^.*.(webp|jpeg|jpg|png|pdf|svg)$'
      - id: internal_links
        name: Check internal markdown links (http://192.168.x.x or http://10.x.x.x)
        entry: \]\(https?:\/\/(192\.168\.[0-9]+\.[0-9]+|10\.[0-9]+\.[0-9]+\.[0-9]+)[^)]*\)
        language: pygrep
        types: [text]

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate hooks'
  autofix_prs: false
