# Community test results

## About

This page contains the list of hardware that has been tested and reported by the
community to work with NovaCustom laptops. Models and specific firmware versions
are listed as well.

## Contributing

Feel free to perform different tests and report your results via
[email](mailto:contact@dasharo.com) or submit a Pull Request to
[Dasharo documentation repository](https://github.com/Dasharo/docs) or by using
[Dasharo issues repository](https://github.com/Dasharo/dasharo-issues/issues).

## Docking station compatibility list

This is a list of USB-C docking stations and hubs tested to work:

| Dock / Hub | Part number | Laptop | Firmware version | Notes |
| --- | --- | --- | --- | --- |
| Lenovo USB-C Dock Gen2 | 40AS | NV4x 12th Gen | v0.9.0 | <ul><li>Can overdraw power from the dock, fixed in Dasharo v1.7.2</li><li>Power button not supported</li> |
| Lenovo Universal USB-C Dock | 40AY | NV4x 12th Gen | v0.9.0 | <ul><li> Need 130W power supply option to not overdraw, fixed in Dasharo v1.7.2</li><li>Power button not supported</li> |
| CableMatters Triple Display Travel Hub | 201431-BLK | NV4x 12th Gen | v0.9.0 | No issues |
