# Community test results

## About

This page contains the list of hardware that has been tested and reported by the
community to work with NovaCustom laptops. Models and specific firmware versions
are listed as well.

## Contributing

Feel free to perform different tests and report your results via
[email](mailto:contact@dasharo.com) or submit a Pull Request to
[Dasharo documentation repository](https://github.com/Dasharo/docs) or by using
[Dasharo issues repository](https://github.com/Dasharo/dasharo-issues/issues).

## Testing method

You can follow the tests in
[Dasharo Test Specification](../../unified-test-documentation/overview.md) to
verify functionality. If you used another testing method, please describe the
test steps in the report.

## Test results

=== "USB-C Accessories"

    This section is for USB Type-C accessories: docks, hubs, power supplies and
    other types of peripherals.

    === "NS5x/7x 12th Gen"
        | Device | Firmware version | Notes |
        | --- | --- | --- |

    === "NV4x 12th Gen"
        | Device | Firmware version | Notes |
        | --- | --- | --- |
        | Lenovo USB-C Dock Gen2 |  v0.9.0 | <ul><li>Can overdraw power from the dock, fixed in v1.7.2</li><li>Power button not supported</li> |
        | Lenovo Universal USB-C Dock | v0.9.0 | <ul><li> Need 130W power supply option to not overdraw, fixed in v1.7.2</li><li>Power button not supported</li> |
        | CableMatters Triple Display Travel Hub (201431-BLK) | v0.9.0 | No issues |

    === "NS5x/7x 11th Gen"
        | Device | Firmware version | Notes |
        | --- | --- | --- |

    === "NV4x 11th Gen"
        | Device | Firmware version | Notes |
        | --- | --- | --- |
