# Community test results

## About

The following document contains information about additional tests which were
carried out on the MSI Z790-P platform with Dasharo firmware by community
members.

This list is created based on the information from the
community - people which are currently using the platform with Dasharo
firmware.

This document contains three main sections:
- `Contributing` in which we are describing preferred of reporting the results.
- `Testing method` in which we are describing our preferred testing method.
- `Hardware Compatible List` in which, in a labelled manner, we show all
    tests carried out by the community.

## Contributing

Feel free to perform different tests and report your results via
[email](mailto:contact@dasharo.com) or submit a Pull Request to
[Dasharo documentation repository](https://github.com/Dasharo/docs) or by using
[Dasharo issues repository](https://github.com/Dasharo/dasharo-issues/issues).

## Testing method

You can follow the tests described in the
[Dasharo Test Specification](../../unified-test-documentation/overview.md).

If you used other tests or tested functionality that we did not specify
tests for - describe it in the test report.

## Community test results

| No.  | Description                                       | Link to description | Notes               |
|:-----|:--------------------------------------------------|:-------------------:|:-------------------:|
| 1.   |                                                   |                     |                     |
