| Version | Source                                                             | Build on Linux | Build on FreeBSD | Boot to Skiboot |
| ---     | ---                                                                | ---            | ---              | ---             |
| v0.1.0  | -                                                                  | -              | -                | -               |
| v0.2.0  | [PR/65/checks](https://github.com/3mdeb/coreboot/pull/65/checks)   | Passed         | Passed           | Passed          |
| v0.3.0  | -                                                                  | -              | -                | -               |
| v0.4.0  | [PR/108/checks](https://github.com/3mdeb/coreboot/pull/108/checks) | Passed         | Passed           | Passed          |
