| Version   | Source                                                             | Build on Linux | Build on FreeBSD | Boot to Skiboot |
| ---       | ---                                                                | ---            | ---              | ---             |
| bootblock | -                                                                  | -              | -                | -               |
| romstage  | [PR/65/checks](https://github.com/3mdeb/coreboot/pull/65/checks)   | Passed         | Passed           | Passed          |
| heads     | -                                                                  | -              | -                | -               |
| payload   | [PR/108/checks](https://github.com/3mdeb/coreboot/pull/108/checks) | Passed         | Passed           | Passed          |
